<h1>User info</h1>
<h2><%= @user.name %></h2>
<p>email: <%= @user.email %></p>
<p>image: <%= @user.image %></p>
<p>followers: <%= @user.followers.length %></p>
<p>followees: <%= @user.followees.length %></p>
<a href="/users">Back to all users</a>
<%= link_to "Edit user", edit_user_path(@user) %>
<%= link_to "Destroy user", user_path(@user), data: {turbo_method: :delete} %>

<section id="all-links">
    <% if @user.id == current_user.id %>
        <%= button_to "Logout", '/logout', method: :post %>
    <% elsif current_user.followees.include?(@user) %>
        <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
    <% else %>
        <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
    <% end%>
    <%#= link_to 'Followers', user_followers_path(@user) %>
    <%#= link_to 'Following', user_followees_path(@user) %>
    <br>
</section>
