<h1>User info</h1>
<h2><%= @user.name %></h2>
<p>email: <%= @user.email %></p>
<p>image: <%= @user.image %></p>
<a href="/users">Back to all users</a>
<%= link_to "Edit user", edit_user_path(@user) %>
<%= link_to "Destroy user", user_path(@user), data: {turbo_method: :delete} %>
<%#= link_to "Follow user", user_path(@user) %>
<%#= link_to "Unfollow user", user_path(@user) %>
